[submodule "anthonyjdella/public"]
	path = anthonyjdella/public
	url = git@github.com:anthonyjdella/anthonyjdella.github.io.git
	branch = main
[submodule "anthonyjdella/themes/portio"]
	path = anthonyjdella/themes/portio
	url = git@github.com:anthonyjdella/customized-portio-hugo.git
	branch = master
